* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: #323232;
    color: white;
    -webkit-font-smoothing: antialiased;
}

#cabecalho {
    background: #1e1e1e;
    color: white;
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

#containers {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

#containers > h3 {
    display: flex;
    justify-content: center;
}

#autenticar{
    display: flex;
    gap: 1rem;
}

#autenticar a{
    color: white;
}

ion-icon {
    font-size: 1rem;
}

#current_location {
    display: flex;
    line-height: 1.6;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#current_location button, select {
    color: white;
    background: #232826;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0.25rem;
}

#current_location button, select:hover{
    cursor: pointer;
}

#weathers {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

#current_weather_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.6;
    flex: 1 1 300px;
}

#current_weather_infos{
    background: #2d2d2d;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #444;
}


#forecast_weather {
    line-height: 1.6;
    flex: 2 1 600px;
}

#forecast_weather select {
    color: white;
    background: #232826;
    border: none;
    outline: 1px solid gray;
    border-radius: 8px;
    padding: 0.25rem;
    margin-bottom: 0.25rem;
}

#forecast_weather select:hover{
    outline: 1px solid #0c0e0b;
}

#forecast_weather li {
    margin: 0.5rem 0.25rem;
    word-wrap: break-word;
    max-width: 100%;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
    width: 250px;
    margin-left: auto;
}

#links a {
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: right;
    width: 100%;
}

#alerts {
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
}

#alert_box {
    margin: 1rem;
    padding: 1rem;
    width: calc(33.33% - 2rem);
    border: 1px solid black;
    border-radius: 8px;
}

.forecast-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.forecast-item {
    background: #2d2d2d;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #444;
}

.forecast-item dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
}

.forecast-item dt {
    font-weight: bold;
}

.forecast-item dd {
    margin: 0;
}

@media (max-width: 768px) {
    #alerts {
        flex-direction: column;
    }

    #alert_box {
        width: 100%;
        margin: 1rem 0;
    }
}
