<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Seleção de Grãos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'agrochrono/cotacoes_style.css' %}">
    <script src="{% static '/main.js' %}"></script>
</head>
<body>
    <div id="cabecalho"><h1>Agrochrono</h1></div>
    <div id="back">
        <a href="{% url 'agrochrono:index' %}">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <p>Voltar para página inicial.</p>
        </a>
    </div>
    <form id="searchForm" onsubmit="return searchWidgets(event)">
        <input type="text" id="searchInput" placeholder="Buscar grão...">
        <button type="button" onclick="searchWidgets()">Buscar</button>
    </form>

    <div id="noResults" style="display: none;">Sem resultados</div>

    <div id="widgetsContainer">
        <div class="widget-container" onclick="toggleWidget('Açúcar - Preço da Cana Básica - PR')">
            <img src="{% static 'agrochrono/imagens/cana.jpeg'%}" alt="Açúcar - Preço da Cana Básica - PR">
            <div id="Açúcar - Preço da Cana Básica - PR" class="widget-overlay">
                <div class="overlay-text">Açúcar - Preço da Cana Básica - PR</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=213&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Algodao/NY')">
            <img src="{% static 'agrochrono/imagens/Algodao.jpeg' %}" alt="Algodão - Bolsa de Nova Iorque (NYBOT)">
            <div id="Algodao/NY" class="widget-overlay">
                <div class="overlay-text">Algodão - Bolsa de Nova Iorque (NYBOT)</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=55&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Algodao/IMEA')">
            <img src="{% static 'agrochrono/imagens/Algodao.jpeg' %}" alt="Algodão - IMEA">
            <div id="Algodao/IMEA" class="widget-overlay">
                <div class="overlay-text">Algodão - IMEA</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=131&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Algodao/Cepea')">
            <img src="{% static 'agrochrono/imagens/Algodao.jpeg' %}" alt="Algodão - Indicador Cepea/Esalq">
            <div id="Algodao/Cepea" class="widget-overlay">
                <div class="overlay-text">Algodão - Indicador Cepea/Esalq</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=84&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Algodao/pluma')">
            <img src="{% static 'agrochrono/imagens/Algodao.jpeg'%}" alt="Algodão - Algodão em pluma">
            <div id="Algodao/pluma" class="widget-overlay">
                <div class="overlay-text">Algodão - Algodão em pluma</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=168&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Algodao/caroco')">
            <img src="{% static 'agrochrono/imagens/Algodao.jpeg'%}" alt="Algodão - Caroço de algodão">
            <div id="Algodao/caroco" class="widget-overlay">
                <div class="overlay-text">Algodão - Caroço de algodão</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=169&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Algodao/cotlook')">
            <img src="{% static 'agrochrono/imagens/Algodao.jpeg'%}" alt="Algodão - Ìndice Cotlook A">
            <div id="Algodao/cotlook" class="widget-overlay">
                <div class="overlay-text">Algodão - Ìndice Cotlook A</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=222&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Amendoim')">
            <img src="{% static 'agrochrono/imagens/Amendoim.jpeg'%}" alt="Amendoim - Ceasas">
            <div id="Amendoim" class="widget-overlay">
                <div class="overlay-text">Amendoim - Ceasas</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=81&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>

            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Arroz/agulhinha')">
            <img src="{% static 'agrochrono/imagens/arroz.jpeg'%}" alt="Arroz (Agulhinha Irrigado) - Mercado Físico">
            <div id="Arroz/agulhinha" class="widget-overlay">
                <div class="overlay-text">Arroz (Agulhinha Irrigado) - Mercado Físico</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=188&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Arroz/longofino')">
            <img src="{% static 'agrochrono/imagens/arroz.jpeg'%}" alt="Arroz (Longo Fino) - Mercado Físico">
            <div id="Arroz/longofino" class="widget-overlay">
                <div class="overlay-text">Arroz (Longo Fino) - Mercado Físico</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=186&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>    
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Arroz')">
            <img src="{% static 'agrochrono/imagens/arroz.jpeg'%}" alt="Arroz - Mercado Físico">
            <div id="Arroz" class="widget-overlay">
                <div class="overlay-text">Arroz - Mercado Físico</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=167&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>    
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Arroz/atacadoPR')">
            <img src="{% static 'agrochrono/imagens/arroz.jpeg'%}" alt="Arroz Atacado - Média PR">
            <div id="Arroz/atacadoPR" class="widget-overlay">
                <div class="overlay-text">Arroz Atacado - Média PR</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=229&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Arroz/em-casca')">
            <img src="{% static 'agrochrono/imagens/arroz.jpeg'%}" alt="Indicador Arroz em Casca - Esalq/Senar-RS">
            <div id="Arroz/em-casca" class="widget-overlay">
                <div class="overlay-text">Indicador Arroz em Casca - Esalq/Senar-RS</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=90&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=true&output=js"></script>
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Cacau')">
            <img src="{% static 'agrochrono/imagens/cacau.jpg'%}" alt="Cacau">
            <div id="Cacau" class="widget-overlay">
                <div class="overlay-text">Cacau</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=32&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Café/NYBOT')">
            <img src="{% static 'agrochrono/imagens/cafe.jpeg'%}" alt="Café - Bolsa de Nova Iorque (NYBOT)">
            <div id="Café/NYBOT" class="widget-overlay">
                <div class="overlay-text">Café - Bolsa de Nova Iorque (NYBOT)</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=4&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Café/Cereja')">
            <img src="{% static 'agrochrono/imagens/cafe.jpeg'%}" alt="Café Cereja Descascado - Mercado Físico">
            <div id="Café/Cereja" class="widget-overlay">
                <div class="overlay-text">Café Cereja Descascado - Mercado Físico</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=144&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Feijão Carioca nota 9/9,5')">
            <img src="{% static 'agrochrono/imagens/feijao.jpeg'%}" alt="Feijão Carioca nota 9/9,5">
            <div id="Feijão Carioca nota 9/9,5" class="widget-overlay">
                <div class="overlay-text">Feijão Carioca nota 9/9,5</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=183&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Preço Feijão Atacado - Média PR')">
            <img src="{% static 'agrochrono/imagens/feijao.jpeg'%}" alt="Preço Feijão Atacado - Média PR">
            <div id="Preço Feijão Atacado - Média PR" class="widget-overlay">
                <div class="overlay-text">Preço Feijão Atacado - Média PR</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=227&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Banana Nanica/Prata - Ceasas')">
            <img src="{% static 'agrochrono/imagens/banana.jpeg'%}" alt="Banana Nanica/Prata - Ceasas">
            <div id="Banana Nanica/Prata - Ceasas" class="widget-overlay">
                <div class="overlay-text">Banana Nanica/Prata - Ceasas</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=68&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Laranja - Ceasas')">
            <img src="{% static 'agrochrono/imagens/laranja.jpeg'%}" alt="Laranja - Ceasas">
            <div id="Laranja - Ceasas" class="widget-overlay">
                <div class="overlay-text">Laranja - Ceasas</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=11&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>
        
        <div class="widget-container" onclick="toggleWidget('Batata no Atacado - IEA')">
            <img src="{% static 'agrochrono/imagens/batata.jpeg'%}" alt="Batata no Atacado - IEA">
            <div id="Batata no Atacado - IEA" class="widget-overlay">
                <div class="overlay-text">Batata no Atacado - IEA</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=176&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Cebola no Atacado - IEA')">
            <img src="{% static 'agrochrono/imagens/cebola.jpeg'%}" alt="Cebola no Atacado - IEA">
            <div id="Cebola no Atacado - IEA" class="widget-overlay">
                <div class="overlay-text">Cebola no Atacado - IEA</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=177&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Mandioca Indústria - IEA')">
            <img src="{% static 'agrochrono/imagens/mandioca.jpeg'%}" alt="Mandioca Indústria - IEA">
            <div id="Mandioca Indústria - IEA" class="widget-overlay">
                <div class="overlay-text">Mandioca Indústria - IEA</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=283&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Preços da Raiz de Mandioca')">
            <img src="{% static 'agrochrono/imagens/mandioca.jpeg'%}" alt="Preços da Raiz de Mandioca">
            <div id="Preços da Raiz de Mandioca" class="widget-overlay">
                <div class="overlay-text">Preços da Raiz de Mandioca</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=265&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Moedas (Forex)')">
            <img src="{% static 'agrochrono/imagens/moeda.jpeg'%}" alt="Moedas (Forex)">
            <div id="Moedas (Forex)" class="widget-overlay">
                <div class="overlay-text">Moedas (Forex)</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=114&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Milho - Mercado Físico')">
            <img src="{% static 'agrochrono/imagens/milho.jpeg'%}" alt="Milho - Mercado Físico">
            <div id="Milho - Mercado Físico" class="widget-overlay">
                <div class="overlay-text">Milho - Mercado Físico</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=130&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Soja - Mercado Físico')">
            <img src="{% static 'agrochrono/imagens/soja.jpeg'%}" alt="Soja - Mercado Físico">
            <div id="Soja - Mercado Físico" class="widget-overlay">
                <div class="overlay-text">Soja - Mercado Físico</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=127&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Sorgo - Mercado Físico')">
            <img src="{% static 'agrochrono/imagens/sorgo.jpeg'%}" alt="Sorgo - Mercado Físico">
            <div id="Sorgo - Mercado Físico" class="widget-overlay">
                <div class="overlay-text">Sorgo - Mercado Físico</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=216&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Trigo - Mercado Físico')">
            <img src="{% static 'agrochrono/imagens/trigo.jpeg'%}" alt="Trigo - Mercado Físico">
            <div id="Trigo - Mercado Físico" class="widget-overlay">
                <div class="overlay-text">Trigo - Mercado Físico</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=225&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Alface - Ceasas')">
            <img src="{% static 'agrochrono/imagens/alface.jpeg'%}" alt="Alface - Ceasas">
            <div id="Alface - Ceasas" class="widget-overlay">
                <div class="overlay-text">Alface - Ceasas</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=170&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

        <div class="widget-container" onclick="toggleWidget('Couve - Ceasas')">
            <img src="{% static 'agrochrono/imagens/couve.jpeg'%}" alt="Couve - Ceasas">
            <div id="Couve - Ceasas" class="widget-overlay">
                <div class="overlay-text">Couve - Ceasas</div>
                <div class="widget-content">
                    <script type="text/javascript" src="https://www.noticiasagricolas.com.br/widgets/cotacoes?id=173&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=10pt&largura=400px&cortexto=ffffff&corcabecalho=323232&corlinha=323232&imagem=false&output=js"></script>    
                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'agrochrono/cotacoes.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

