* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button, textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

body{
    background: #323232;
    color: white;
}

form{
    margin: 1rem;
}

#cabecalho {
    background: #1e1e1e;
    color: white;
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

#containers{
    margin-top: 2rem;
    margin-left: 1rem;
}

#campos{
    display: flex;
    width: 30%;
    gap: 1rem;
    flex-direction: column;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
}

label{
    font-weight: 600;
}

input{
    background: #232826;
	color: white;
	border-radius: 4px;
	border: 1px solid black;
	padding: 0.25rem;
}

input:focus{
    outline: none;
    border: 1px solid gray;
    background: #191919;
}

#submit_button{
    margin-left: 1rem;
    width: 5rem;
    height: 2rem;
    background: #232826;
	color: white;
	border-radius: 4px;
	border: 1px solid black;
	padding: 0.25rem;
	cursor: pointer;
}

#submit_button:hover{
    cursor: pointer;
    background: #191919;
    border: 1px solid gray;

}

#registrar{
    margin: 2rem;
}

#registrar a{
    margin-left: 2rem;
    color: white;
}

@media (max-width: 768px) {
    #campos{
        display: flex;
        width: 100%;
        gap: 1rem;
        flex-direction: column;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        padding: 1rem;
        border-radius: 8px;
    }
}