* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: #323232;
    color: white;
    -webkit-font-smoothing: antialiased;
}

#cabecalho {
    background: #1e1e1e;
    color: white;
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #444;
}

#cabecalho h1 {
    font-size: 1.5rem;
}

#news-box {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#news-box script {
    width: 100%;
    max-width: 900px;
}

a {
    color: #006666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.news-item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #444;
}

#back a {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    width: auto;
}

ion-icon {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    #cabecalho h1 {
        font-size: 1.2rem;
    }
    #news-box {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }
    #news-box script {
        max-width: 100%;
    }
    #back a {
        width: 100%;
        justify-content: center;
    }
    ion-icon {
        font-size: 1.2rem;
    }
}
