<!DOCTYPE html>
<html>
<head>    
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Mapa climático</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'maps/css/leaflet.css' %}" />
    <style>
        #map { height: 600px; }
        .layer-control { margin: 20px; }
    </style>
</head>
<body>
    <div id="cabecalho"><h1>Agrochrono</h1></div>
    <div id="back">
        <a href="{% url 'agrochrono:index' %}">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <p>Voltar para página inicial.</p>
        </a>
    </div>
    <div class="layer-control">
        <label for="layerSelect">Selecionar layer climática:</label>
        <select id="layerSelect">
            <option value="clouds_new">Nuvens</option>
            <option value="precipitation_new">Precipitação</option>
            <option value="pressure_new">Pressão</option>
            <option value="wind_new">Vento</option>
            <option value="temp_new">Temperatura</option>
        </select>
    </div>
    <div id="map"></div>

    <div id="location_box">
        <div id="coordinates" data-coordinates="{{ coordinates|safe }}"></div>
        <input type="text" id="locationName" placeholder="Enter location name" />
        <button id="save-location">Salvar Localização</button>
    </div>
    <script src="{% static 'maps/js/leaflet.js' %}"></script>
    <script>
        const apiKey = 'af561dcbdd69011cb3d872ad2dffcbe7';
        
        const coordinatesElement = document.getElementById('coordinates');
        let coordinates = JSON.parse(coordinatesElement.getAttribute('data-coordinates'));

        if (!coordinates || coordinates.length !== 2) {
            coordinates = [0, 0];
        }

        const map = L.map('map').setView(coordinates, 8);

        const baseLayer = L.tileLayer(`https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png`, {
            maxZoom: 18,
        }).addTo(map);

        let weatherLayer = L.tileLayer(`https://tile.openweathermap.org/map/clouds_new/{z}/{x}/{y}.png?appid=${apiKey}`, {
            maxZoom: 18,
            attribution: '&copy; <a href="https://openweathermap.org">OpenWeatherMap</a>'
        }).addTo(map);

        document.getElementById('layerSelect').addEventListener('change', function(e) {
            const layer = e.target.value;
            map.removeLayer(weatherLayer);
            weatherLayer = L.tileLayer(`https://tile.openweathermap.org/map/${layer}/{z}/{x}/{y}.png?appid=${apiKey}`, {
                maxZoom: 18,
                attribution: '&copy; <a href="https://openweathermap.org">OpenWeatherMap</a>'
            }).addTo(map);
        });

        let marker;
        
        map.on('click', function(e) {
            if (marker) {
                map.removeLayer(marker);
            }
            
            const normalizedCoordinates = normalizeCoordinates(e.latlng.lat, e.latlng.lng);
            
            marker = L.marker(normalizedCoordinates).addTo(map);
            marker.bindPopup("Latitude: " + e.latlng.lat + "<br>Longitude: " + normalizedCoordinates[1]).openPopup();

            document.getElementById('save-location').onclick = function() {
                const name = document.getElementById('locationName').value;

                fetch('/save_location/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        lat: normalizedCoordinates[0],
                        lon: normalizedCoordinates[1],
                        name: name
                    })
                }).then(response => {
                    if (response.ok) {
                        alert("Localização salva com sucesso!");
                    } else {
                        alert("É necessário uma conta para salvar localização.");
                    }
                });
            };
        });
        
        function normalizeCoordinates(lat, lon) {
            let normalizedLon = lon;
            while (normalizedLon < -180) {
                normalizedLon += 360;
            }
            while (normalizedLon > 180) {
                normalizedLon -= 360;
            }
            return [lat, normalizedLon];
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
