<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Noticias agrícolas</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'noticias/noticiasstyle.css' %}">
    </head>
    <body>
        <div id="cabecalho">
            <h1>Agrochrono</h1>
        </div>
        <div id="back">
            <a href="{% url 'agrochrono:index' %}">
                <ion-icon name="arrow-back-outline"></ion-icon>
                <p>Voltar para página inicial.</p>
            </a>
        </div>
        <div id="news-box">
            <div class="news-item">
                <div style="width: 100%;">
                    <script
                        type="text/javascript"
                        src="https://www.noticiasagricolas.com.br/widgets/noticias?subsecao=2,3,162,6,7,8,10,64,80,85,146,5,4,11,160,12,156,40,158,60,13,163,97,14,95,205,15,1,155,84,28,149,26,69,90,62,27,92,148,154,32,67,101,102,103,105,207,106,107,108,109,147,206,110,111,112,113,159,114,157,115,116,210,68,164,117,118,119,204,211,120,121,203,166&largura=100%&altura=900px&fonte=Arial%2C%20Helvetica%2C%20sans-serif&tamanho=13pt&cortexto=ffffff&corlink=006666&qtd=30&output=js">
                    </script>

                </div>
            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
