<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/loginstyle.css' %}">
</head>
<body>
    <div id="cabecalho"><h1>Agrochrono</h1></div>
    <form method="post">
        <h1><strong>Login</strong></h1>
        {% csrf_token %}
        <div id="campos">
            <div id="campo_username">
                <label for="id_username">Usuário:</label>
                {{ form.username }}
            </div>
            <br>

            <div id="campo_password">
                <label for="id_senha">Senha:</label>
                {{ form.password }}
            </div>
            <br>
            {% if erro %}
            <p>{{ erro }}</p>
            {% endif %}
            <button id='submit_button' type="submit">Login</button>
        </div>
    </form>
    <div id='registrar'>
        <h3>Ainda não está cadastrado?</h3>
        <br>
        <a href="{% url 'agrochrono:registrar' %}">Clique aqui!</a>
    </div>
</body>
</html>
