<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Registrar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/registerstyle.css' %}">
</head>
<body>
    <div id="cabecalho"><h1>Agrochrono</h1></div>
    <form method="post">
        {% csrf_token %}
        <div id="containers">
            <h1><strong>Cadastro de usuário</strong></h1>
            <div id="campos">
                <div id="campo_username">
                    <label for="id_username">Usuário:</label>
                    {{ form.username }}
                </div>
                <br>

                <div id="campo_email">
                    <label for="id_email">Email:</label>
                    {{ form.email }}
                </div>
                <br>

                <div id="campo_password">
                    <label for="id_password1">Senha:</label>
                    {{ form.password1 }}
                </div>
                <br>

                <div id="campo_password2">
                    <label for="id_password2">Confirmação de senha:</label>
                    {{ form.password2 }}
                </div>
                <br>

                {% if form.errors %}
                <div class="errors">
                    <p>Ocorreu um problema:</p>
                    <ul>
                        {% for field_errors in form.errors.values %}
                            {% for error in field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <button id='submit_button' type="submit">Confirmar</button>
            </div>
        </div>
    </form>
    <div id='login'>
        <h3>Já está cadastrado?</h3>
        <br>
        <a href="{% url 'agrochrono:login' %}">Clique aqui!</a>
    </div>
</body>
</html>
