<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Agrochrono</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'indexstyle.css' %}">
</head>
<body>
    <div id="cabecalho"><h1>Agrochrono</h1></div>
    <div id="containers">
        <h3 id="selectedLocationName"></h3>
        {% if request.user.is_authenticated %}
        <div id="current_location">
            <label for="savedLocations">Localizações salvas:</label>
            <select id="savedLocations">
                <option value="current_location" data-lat="{{ lat }}" data-lon="{{ lon }}">Localização atual</option>
                {% for location in saved_locations %}
                    <option value="{{ location.id }}" data-lat="{{ location.latitude }}" data-lon="{{ location.longitude }}">{{ location.name }}</option>
                {% endfor %}
            </select>
            <br>
            <button id="selectLocation">Selecionar</button>
            <button id="delete-location">Excluir</button>
            {% if error_message %}
                <div class="error-message">
                    <p>{{ error_message }}</p>
                </div>
            {% endif %}
        {% else %}
            <div id="autenticar">
                <div id="login">
                    <p><strong>Faça login para acessar suas localizações salvas.</strong></p>
                    <ion-icon name="arrow-redo"></ion-icon><a href="{% url 'agrochrono:login' %}">Login</a>
                </div>
                <div id="registrar">
                    <p><strong>Ou registre-se para salvar localizações.</strong></p>
                    <ion-icon name="arrow-redo"></ion-icon><a href="{% url 'agrochrono:registrar' %}">Registrar</a>
                </div>
            </div>
        {% endif %}
        </div>
        <div id="weathers">
            <div id="current_weather_container">
                {% if weather_info %}
                <h2>Condições climáticas atuais</h2>
                <div id="current_weather_infos">
                    <p> <strong>Temperatura:</strong> {{ weather_info.temperature }} ºC</p>
                    <p> <strong>Última atualização:</strong> {{ weather_info.time }}</p>
                    <p> <strong>Descrição:</strong> {{ weather_info.description }}</p>
                    <p> <strong>Umidade:</strong> {{ weather_info.humidity }}%</p>
                    <p> <strong>Nebulosidade:</strong> {{ weather_info.cloudiness }}%</p>
                    <p> <strong>Chuva:</strong> {{ weather_info.rain }} mm</p>
                    <p> <strong>Velocidade do Vento:</strong> {{ weather_info.wind_speedy }}</p>
                    <p> <strong>Direção do Vento:</strong> {{ weather_info.wind_direction }}° ({{ weather_info.wind_cardinal }})</p>
                    <p> <strong>Fase da Lua:</strong> {{ weather_info.moon_phase }}</p>
                    {% else %}
                    <p>Não foi possível obter os dados atuais.</p>
                    {% endif %}
                </div>
            </div>
            <div id="forecast_weather">
                {% if prevision %}
                <h2>Previsão para 5 dias</h2>
                <form id="dateForm" action="{% url 'agrochrono:index' %}">
                    <label for="dateSelector">Selecionar data:</label>
                    <select name="date" id="dateSelector">
                        <option value="" {% if not selected_date %}selected{% endif %}>--/--/----</option>
                        {% for date in available_dates %}
                            <option value="{{ date }}" {% if date == selected_date %}selected{% endif %}>{{ date }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" id="latInput" name="lat" value="{{ lat }}">
                    <input type="hidden" id="lonInput" name="lon" value="{{ lon }}">
                </form>
                <div id="forecastContainer">
                    {% include 'previsao_parcial.html' %}
                </div>
                {% else %}
                    <p>Não foi possível obter a previsão.</p>
                {% endif %}
            </div>
            <div id="links">
                <a href="{% url 'agrochrono:noticias' %}"><h3>Notícias</h3></a>
                <a href="{% url 'agrochrono:cotacoes'%}"><h3>Cotações agricolas</h3></a>
                <a href="{% url 'agrochrono:maps' %}"><h3>Mapas climatológicos</h3></a>
            </div>
        </div>
        <h2>Alertas climáticos</h2>
        <div id="alerts">
            {% if alerts %}
            {% for alert in alerts %}
            <div id="alert_box">
                <strong>{{ alert.headline }}</strong><br>
                <p> - Evento: {{ alert.event }}</p>
                <p> - Ínicio: {{ alert.effective }}</p>
                <p> - Previsão de termíno: {{ alert.expires }}  </p>
                <p> - Informações adicionais: {{ alert.extracted_info|linebreaks }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>Nenhum alerta disponível.</p>
            {% endif %}
        </div>
    </div>
    <script>
        document.getElementById('dateSelector').addEventListener('change', function() {
            document.getElementById('dateForm').submit();
        });
    
        document.addEventListener('DOMContentLoaded', function() {
            const savedLocationsElement = document.getElementById('savedLocations');
            const selectLocationButton = document.getElementById('selectLocation');
            const deleteLocationButton = document.getElementById('delete-location');
            const selectedLocationNameElement = document.getElementById('selectedLocationName');
    
            const selectedLocationId = localStorage.getItem('selectedLocationId');
            if (selectedLocationId) {
                savedLocationsElement.value = selectedLocationId;
            }
    
            const selectedLocationName = localStorage.getItem('selectedLocationName');
            if (selectedLocationName) {
                selectedLocationNameElement.textContent = selectedLocationName;
            }
    
            if (selectLocationButton) {
                selectLocationButton.addEventListener('click', function() {
                    const selectedLocationId = savedLocationsElement.value;
                    if (selectedLocationId) {
                        const selectedLocation = savedLocationsElement.options[savedLocationsElement.selectedIndex];
                        const lat = selectedLocation.dataset.lat;
                        const lon = selectedLocation.dataset.lon;

                        localStorage.setItem('selectedLocationId', selectedLocationId);
                        localStorage.setItem('selectedLocationName', selectedLocation.text);
    
                        window.location.href = `/?location_id=${selectedLocationId}&lat=${lat}&lon=${lon}`;
                    } else {
                        alert("Selecione uma localização.");
                    }
                });
            }
    
            if (deleteLocationButton) {
                deleteLocationButton.addEventListener('click', function() {
                    const selectedLocationId = savedLocationsElement.value;
                    if (selectedLocationId) {
                        if (confirm("Tem certeza de que deseja excluir esta localização?")) {
                            fetch(`/delete_location/${selectedLocationId}/`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            }).then(response => {
                                if (response.ok) {
                                    savedLocationsElement.removeChild(savedLocationsElement.options[savedLocationsElement.selectedIndex]);
                                    savedLocationsElement.value = '';
                                    
                                    localStorage.removeItem('selectedLocationId');
                                    localStorage.removeItem('selectedLocationName');
    
                                    selectedLocationNameElement.textContent = '';
                                    alert("Localização excluída com sucesso.");
                                } else {
                                    alert("Erro ao excluir a localização.");
                                }
                            });
                        }
                    } else {
                        alert("Selecione uma localização para excluir.");
                    }
                });
            }
        });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
