<div id="forecastContainer">
    {% if selected_date %}
        <div class="forecast-list">
            {% for forecast in prevision %}
                <div class="forecast-item">
                    <dl>
                        <dt>Data:</dt>
                        <dd>{{ forecast.date }}</dd>
                        <dt>Horário:</dt>
                        <dd>{{ forecast.time }}</dd>
                        <dt>Temperatura:</dt>
                        <dd>{{ forecast.temperature }} ºC</dd>
                        <dt>Tempo:</dt>
                        <dd>{{ forecast.description }}</dd>
                        <dt>Umidade:</dt>
                        <dd>{{ forecast.humidity }}%</dd>
                        <dt>Precipitação:</dt>
                        <dd>{{ forecast.precipitation }}%</dd>
                        <dt>Volume de chuva (últimas 3 horas):</dt>
                        <dd>{{ forecast.rain }} mm</dd>
                        <dt>Volume de neve (últimas 3 horas):</dt>
                        <dd>{{ forecast.snow }} mm</dd>
                    </dl>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Selecione uma data para ver a previsão.</p>
    {% endif %}
</div>
