*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, textarea, button{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: #323232;
    color: white;
    -webkit-font-smoothing: antialiased;
}

#cabecalho{
    background: #1e1e1e;
    color: white;
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

#widgetsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.widget-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 20px;
    width: 430px;    
}

.widget-container img {
    display: block;
    width: 100%;
    height: 20rem;
    border-radius: 8px;
}

.widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(20, 20, 20, 0.5);
    text-align: center;
    font-size: 24px;
    box-sizing: border-box;
    z-index: 1;
}

.overlay-text {
    z-index: 2;
    color: white;
    font-weight: bold;
}

.widget-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #323232;
    text-align: center;
    justify-content: center;    
    font-size: 24px;
    box-sizing: border-box;
    z-index: 3;
    overflow: scroll;
    padding: 10px;
}

.widget-content iframe {
    width: 100%;
    height: 100%;
    border: none;
    transform: scale(0.85);
    transform-origin: 0 0;
}

form#searchForm {
    margin: 20px auto;
    text-align: center;
}

form#searchForm input {
    padding: 10px;
    font-size: 16px;
}

form#searchForm button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#back a{
	margin: 0.5rem;
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	width: 12.5%;
}

ion-icon {
	font-size: 1.5rem;
  }

@media (max-width: 768px) {
    #back a {
        width: 100%;
        justify-content: center;
    }
    ion-icon {
        font-size: 1.2rem;
    }

    #widgetsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}